body,html
{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    


}
.main-img
{
    position: relative;
    float: left;
    width: 100%;
    height:20vw;
    background-color: #A7A8A9;
    z-index: 0;
}


.main-img img
{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: center;
    opacity: 0.7;
    z-index: 1;
    
}
.main-img h1
{
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 3vw;
    text-transform: uppercase;
    z-index:2;
    text-align: center;
    font-weight: 300;
    color: white;
    /* margin-top: calc((20vw - 3vw)/2); */
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.main
{
    position: relative;
    float: left;
    width: 80%;
    height: 15vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2vw;
    /* background-color: #6AB1BF; */
}
.main-parts
{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    color: gray;

}
.main-parts h1
{
    margin:0;
    padding: 0;
    font-size: 3vw;
    margin-top: 1vw;
    text-align: center;
    font-weight: 300;
    color: #404e56;
}
.main-parts p
{
    position: relative;
    float: left;
    font-size: 1.2vw;
    margin-top: 1vw;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: 400;
}
.main-img2
{
    position: relative;
    float: left;
    width: 100%;
    height:28vw;
    background-color: #A7A8A9;
    z-index: 0;
}


.main-img2 img
{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: center;
    opacity: 0.5;
    z-index: 1;
    color: white;
    opacity: 0.8;
    
}
.main-img2-part
{
    position: absolute;
    width: 35%;
    height: 100%;
    /* padding-left: 10vw; */
    display: flex;
    /* background-color: #676767; */
    left: 10%;
    flex-direction: column;
    justify-content: center;
    
    
}
/* .main-img2-content
{
    position: relative;
    width: 100%;
    font-weight: 400;
    color: white;
    z-index: 2;
    padding-left: 10vw;
    
} */
.main-img2-part h1
{
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    font-size: 3vw;
    text-transform: uppercase;
    /* margin-top: 3vw; */
    width: 100%;
    font-weight: 400;
    color: white;
    z-index: 2;
    /* padding-left: 10vw; */
}
.main-img2-part p
{
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    font-size:1vw;
    /* padding-top: 6vw; */
    margin-top: 2vw;
    width: 100%;
    font-weight:400;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    line-height: 1.5vw;
    /* padding-left: 10vw; */
}
.icon-div
{
    position: relative;
    float: left;
    width: 90%;
    height: 10vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2vw;
    /* background-color: #6AB1BF; */
}
.main-icon
{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    color: gray;

}
.main-icon img
{
    position: relative;
    float: left;
    width: 5vw;
    height: 5vw;
    margin-left: calc((100% - 5vw)/2);
    margin-right: calc((100% - 5vw)/2);
}

.icon-div h3
{
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    margin-top:1vw ;
    width:100%;
    text-transform: uppercase;


}
